# Project Title

A Book List made with React.js using React Hooks, Context API ,@Redux/toolkit , 

json-server

## To Run yhis Project

1- json-server --watch db.json --port 3005 (Run backend server) in 
(book-store-app-server folder)

2- npm start (Run Frontend Server) in (reduxt-toolkit-thunk-book-app folder)
